# Skopiuj ten plik jako .env.local i uzupełnij wartości

# Publiczny adres bazowy strony (bez trailing slash)
# Lokalnie: http://localhost:3000
# Produkcja: https://twoja-domena.pl
NEXT_PUBLIC_BASE_URL=https://nullsec.dev
